{
  // See https://go.microsoft.com/fwlink/?LinkId=733558
  // for the documentation about the tasks.json format
  "version": "2.0.0",
  "tasks": [
    {
      "label": "Run already compiled",
      "type": "shell",
      "command": "cd .\\out\\build\\VS64\\Debug\\ && .\\directx_learning.exe",
      "presentation": {
        // Reveal the output only if unrecognized errors occur.
        "reveal": "silent"
      }
    }
  ]
}